h1
{
    color:blue;
}
h2
{
    color:red;
}
h3
{
    color:green;
}
h4
{
    color:yellow;  
}
h5
{
    color:aqua;  
}
h6
{ 
    color:pink;   
}
.premierp
{
    color:orange;
}
.deuxiemep
{
    color:blueviolet;
}
.premierspan
{
    color:beige;
}
.deuxiemespan
{
    color:brown;
}
.img1
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.img2
{
    width: 100px;
    height: 100px;
}
